<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TownHouse Las Pircas</title>
    <link rel="apple-touch-icon" sizes="57x57" href="./assets/images/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./assets/images/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./assets/images/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./assets/images/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./assets/images/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./assets/images/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./assets/images/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./assets/images/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./assets/images/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./assets/images/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./assets/images/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./assets/images/favicon/favicon-16x16.png">
    <link rel="manifest" href="./assets/images/favicon/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="./assets/images/favicon/ms-icon-144x144.png">
    <meta name="theme-color" content="#111111">
    <meta name="author" content="Edu Basabe">
    <!-- build:css assets/css/vendor/frameworks.min.css -->
    <link rel="stylesheet" href="./assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="./assets/css/vendor/lightbox.css">
    <!-- endbuild -->
    <!-- build:css assets/css/style.min.css -->
    <link rel="stylesheet" href="./assets/css/main.css">
    <!-- endbuild -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body data-spy="scroll" data-target=".navbar-fixed-top">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="v-navbar">
      <navbar></navbar>
    </nav>


<!-- Hero -->
<section class="hero" id="section-hero">
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="hero__logo">
        <p><img src="./assets/images/logo/logo-townhouse.png" srcset="./assets/images/logo/logo-townhouse@2x.png 2x, ./assets/images/logo/logo-townhouse@3x.png 3x " alt="Cubica Montemar" class="center-block img-responsive"></p>
        <h2 class="hero__logo__headline headline-color--blanco text-center">Town House Las Pircas  es un proyecto único caracterizado principalmente por su estilo vanguardista, elegante, con finas terminaciones, manteniendo un concepto de modernidad en cada rincón.</h2>
        <p class="text-center hero__cta"><a href="#" class="btn btn-lg btn-primary" id="btn-cotizacion" data-toggle="modal" data-target="#form-cotizacion">Solicitar Cotización</a></p>
      </div>
    </div>
    <div class="col-sm-6">
      <form class="hero__form" action="https://s242003202.t.eloqua.com/e/f2" method="post" name="townhouse_chicureo_form" id="form44">
        <legend>Solicita una Cotización</legend>
        <input value="townhouse_chicureo_form" type="hidden" name="elqFormName"  />
        <input value="242003202" type="hidden" name="elqSiteId"  />
        <input name="elqCampaignId" type="hidden"  />
        <input type="hidden" name="elqCustomerGUID" value="">
        <input type="hidden" name="elqCookieWrite" value="0">
        <!-- nombre -->
        <div class="form-group">
            <label for="firstname" class="sr-only">Nombre</label>
            <input id="firstname" name="firstName" type="text" placeholder="Nombre" class="form-control input-md" minlenght="2" required>
        </div>
        <!-- email -->
        <div class="form-group">
            <label for="email" class="sr-only">Email</label>
            <input id="email" name="emailAddress" type="email" placeholder="Email" class="form-control input-md" required>
        </div>
        <!-- teléfono -->
        <div class="form-group">
            <label for="telefono" class="sr-only">Teléfono</label>
            <input id="telefono" name="mobilePhone" type="text" placeholder="Teléfono" class="form-control input-md" minlength="9" maxlength="10"required>
        </div>
        <!-- Mensaje -->
        <div class="form-group">
            <label for="nombre" class="sr-only">Mensaje</label>
            <textarea id="nombre" name="message" placeholder="Mensaje" class="form-control input-md" required></textarea>
            <br>
            <input type="submit" name="" value="Solicitar" class="btn btn-primary btn-lg btn-block">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="hero__device">
  <img src="https://tuhogarinteligente.cl/inmobi/townhouse-chicureo/assets/images/icons/mano.png" alt="App" class="img-responsive">
</div>
</section>

<!-- Intro -->
<section class="section section__intro" id="section-intro">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p class="section__intro__title"><strong>Con una  arquitectura contemporánea y  moderna, espacios luminosos y versátiles en distribución, su  diseño interior te permite una percepción de mayor amplitud y continuidad espacial.</strong></p>
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3">
        <p class="section__intro__text">Sus  dobles alturas relacionan los distintos recintos que la conforman y te sumergirán en un mundo de agrado y nuevas sensaciones que te harán disfrutar cada momento que allí vivirás.</p>
      </div>
    </div>
  </div>
</section>

<!-- Tipos -->
<section class="tipos section" id="section-tipos">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="headline headline-color--gris text-center">Tipos de Departamentos</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4">
          <!-- Buttons Desktop  -->
          <div class="btn-group btn-group-justified tipos__btn--desktop" role="group">
            <a href="#loft" class="btn btn-lg btn-primary" data-toggle="tab"><strong>Plantas Townhouse</strong></a>
            <!-- <a href="#deptos" class="btn btn-lg btn-primary" data-toggle="tab"><strong>DEPTOS</strong></a> -->
          </div>
      </div>



    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="tab-content clearfix">
            <div v-bind:class="depto.class" v-bind:id="depto.id" v-for="depto in deptos">
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <a class="tipos__image" v-bind:href="x.img" v-bind:data-lightbox="depto.id" v-bind:data-title="x.title" v-for=" x in pisos">
                          <img v-bind:src="x.img" v-bind:alt="x.title" class="img-responsive">
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                      <div class="tipos__content">
                        <h3 class="text-color--gris-dark"><strong>{{ depto.title }}</strong></h3>
                        <h4 class="text-color--gris">{{ depto.subtitle }}</h4>
                        <hr>
                        <p>{{ depto.desc }}</p>
                        <hr>
                        <h4 class="headline-color--gris">Superficies</h4>
                        <div class="row">
                          <div class="col-md-6">

                            <!-- Zocalo -->
                            <table class="table">
                              <thead>
                                <tr>
                                  <th colspan="2">Zócalo</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Planta</td>
                                  <td>25,68 <sup>m2</sup></td>
                                </tr>
                                <tr>
                                  <td>Estacionamiento y circulación</td>
                                  <td>43,26 <sup>m2</sup></td>
                                </tr>
                              </tbody>
                            </table>

                            <!-- Primer Piso -->
                            <table class="table">
                              <thead>
                                <tr>
                                  <th colspan="2">Primer Piso</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Planta</td>
                                  <td>71,93 <sup>m2</sup></td>
                                </tr>
                                <tr>
                                  <td>Terraza</td>
                                  <td>19,28 <sup>m2</sup></td>
                                </tr>
                              </tbody>
                            </table>


                          </div>
                          <div class="col-md-6">
                            <!-- Segundo Piso -->
                            <table class="table">
                              <thead>
                                <tr>
                                  <th colspan="2">Segundo Piso</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Planta</td>
                                  <td>49,64 <sup>m2</sup></td>
                                </tr>
                              </tbody>
                            </table>

                            <!-- Tercer Piso -->
                            <table class="table">
                              <thead>
                                <tr>
                                  <th colspan="2">Tercer Piso</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Planta</td>
                                  <td>55,11 <sup>m2</sup></td>
                                </tr>
                                <tr>
                                  <td>Terraza</td>
                                  <td>15,33 <sup>m2</sup></td>
                                </tr>
                              </tbody>
                            </table>

                            <!-- Áreas verdes -->
                            <table class="table">
                              <thead>
                                <tr>
                                  <th colspan="2">Áreas Verdes</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td>Jardín Propio</td>
                                  <td>90,16 <sup>m2</sup></td>
                                </tr>
                              </tbody>
                            </table>

                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
</section>

<hr style="margin:0;">
<!-- Fuerza de Ventas -->
<section class="section" id="section-domotica">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="headline headline-no-margin headline-color--gris text-center"><strong>Tu hogar inteligente</strong></h2>
        <p class="lead headline__lead headline-color--gris text-center">Proyecto <strong>TownHouse Las Pircas</strong> incluye los siguientes productos <strong>FIBARO<sup>&reg;</sup></strong></p>
      </div>
    </div>
    <div class="row product" id="productos">
      <div class="col-xs-6 col-sm-3" v-for="producto in productos">
        <img v-bind:src="producto.imgsrc" v-bind:alt="producto.title" class="img-responsive">
        <h4 class="text-center text-color--gris-dark">{{ producto.title }}</h4>
        <p class="text-center text-color--gris-dark">[{{ producto.cant }}]</p>
        <p class="text-center text-color--gris">{{ producto.desc }} <br> {{ producto.nota }}</p>
        <p class="text-center text-color--gris-dark"> <a v-bind:href="producto.link" class="btn btn-primary">Ver más detalles</a></p>
      </div>
    </div>
  </div>
</section>

<!-- CTA -->
<section class="section cta">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="headline headline-color--blanco text-center">¿Estás interesado en el proyecto?</h2>
        <p class="text-center"><a href="#section-hero" class="btn btn-primary btn-lg">SOLICITA UNA COTIZACIÓN</a></p>
      </div>
    </div>
  </div>
</section>

<section class="section sala-ventas" id="section-ventas">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2 class="headline headline-color--blanco text-center">Sala de ventas</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <p><b class="text-center">Dirección:</b></p>
        <address>Av. Del Valle en la zona de Chamisero, en Chicureo, Región Metropolitana, Santiago, Chile.</address>
        <p><b>Horario:</b><br>
          Lunes a Domingo <br>
          11:00 a 14:00 horas. <br>
          15:00 a 18:30 horas. <br> <br>
          <b>Teléfono:</b><br>
          <a href="tel:+56942760844">+56 9 4276 0844</a><br><br>
          <b>E-mail:</b><br>
          <a href="mailto:townhouse@ssilva.cl">townhouse@ssilva.cl</a></p>
      </div>
    </div>
  </div>
</section>

<section class="map"id="section-map">
  <div class="container-fluid">
    <div class="map__container" id="map"></div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <div class="row">
      <p class="text-center">
        <img src="./assets/images/logo/logo-gssilva.png" srcset="./assets/images/logo/logo-gssilva@2x.png 2x, ./assets/images/logo/logo-gssilva@3x.png 3x" alt="Ssilva" class="img-responsive center-block">
      </p>
      <p>© TownHouse Las Pircas</p>
    </div>
  </div>
</footer>

<div class="modal fade" id="form-cotizacion" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <svg width="20" height="20">
            <line x1="0" y1="0" x2="20" y2="20" style="stroke:rgb(255,255,255);stroke-width:2"></line>
            <line x1="0" y1="20" x2="20" y2="0" style="stroke:rgb(255,255,255);stroke-width:2"></line>
          </svg>
        </button>
      </div>
      <div class="modal-body">
        <form class="hero__form" action="https://s242003202.t.eloqua.com/e/f2" method="post" name="townhouse_chicureo_form" id="form44">
          <legend>Solicita una Cotización</legend>
          <input value="townhouse_chicureo_form" type="hidden" name="elqFormName"  />
          <input value="242003202" type="hidden" name="elqSiteId"  />
          <input name="elqCampaignId" type="hidden"  />
          <input type="hidden" name="elqCustomerGUID" value="">
          <input type="hidden" name="elqCookieWrite" value="0">
          <!-- nombre -->
          <div class="form-group">
              <label for="firstname" class="sr-only">Nombre</label>
              <input id="firstname" name="firstName" type="text" placeholder="Nombre" class="form-control input-md" min-lenght="2" required>
          </div>
          <!-- email -->
          <div class="form-group">
              <label for="email" class="sr-only">Email</label>
              <input id="email" name="emailAddress" type="email" placeholder="Email" class="form-control input-md" required>
          </div>
          <!-- teléfono -->
          <div class="form-group">
              <label for="telefono" class="sr-only">Teléfono</label>
              <input id="telefono" name="mobilePhone" type="text" placeholder="Teléfono" class="form-control input-md" min-length="9" required>
          </div>
          <!-- Mensaje -->
          <div class="form-group">
              <label for="nombre" class="sr-only">Mensaje</label>
              <textarea id="nombre" name="message" placeholder="Mensaje" class="form-control input-md" required></textarea>
              <br>
              <input type="submit" value="Solicitar" class="btn btn-primary btn-lg btn-block">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

//------------------------------------------------------------------------------
// Google Maps
//------------------------------------------------------------------------------

       function initMap() {
           // Create a map object and specify the DOM element for display.
           var myLatLng = { lat: -33.3043906, lng: -70.687200 };
           var map = new google.maps.Map(document.getElementById('map'), {
               center: myLatLng,
               scrollwheel: false,
               zoom: 17
           });
           var marker = new google.maps.Marker({
             position: myLatLng,
             map:map,
             title: 'TownHouse Las Pircas',
            icon: './assets/images/icons/map-marker.png'
           });
       }
   </script>
   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIsPoE_GzkK3Cab2YJncgdSz7PQZY61N8&callback=initMap" async defer></script>
    <!-- <script type="text/javascript" src="assets/js/vendor/jquery.easing.min.js"></script> -->
    <!-- <script type="text/javascript" src="assets/js/vendor/lightbox.min.js"></script> -->
    <!-- build:js assets/js/vendor/vendor.min.js -->
    <script type="text/javascript" src="./assets/js/vendor/vue.min.js"></script>
    <script type="text/javascript" src="./assets/js/vendor/jquery.min.js"></script>
    <!-- <script type="text/javascript" src="./assets/js/vendor/bootstrap.min.js"></script> -->
    <!-- endbuild -->
    <!-- build:js assets/js/bundle.js -->
    <script type="text/javascript" src="./assets/js/bundle.js"></script>
    <!-- endbuild -->
  </body>
</html>
